.about-me {
  color: #fff;
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  margin-bottom: -6em; }
  .about-me h1, .about-me h2 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.05em; }
  .about-me h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: block;
    border-bottom: 1px solid #fff; }
  .about-me p {
    margin-top: 1em; }
  .about-me a {
    color: #fff;
    font-size: 1.2rem;
    border: 1px dotted;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 0.2em 0.5em;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    .about-me a:hover {
      background-color: rgba(255, 255, 255, 0.3); }

.flex-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.section-content {
  width: 100%;
  height: 100%;
  margin: 4em;
  padding: 2em;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.25); }

@media (max-width: 900px) {
  .section-content {
    margin: 0;
    padding: 1em; } }

h2.about-descr {
  border-bottom: none; }

.work-item {
  margin-top: 2em; }

.content-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 2em; }
  .content-contact a:not(:last-child) {
    margin-right: 0.8em; }
  @media (max-width: 550px) {
    .content-contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .content-contact a:not(:last-child) {
        margin-bottom: 0.8em; } }
